body {
  background-color: maroon;
}
h1 {
  color: green;
  font-family: verdana;
  font-size: 300%;
  text-align: center;
}

p {
  color: powderblue;
  border: 1px solid powderblue;
  padding: 30px;
}